/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
.clarity2/sessions
.crystal_cache
debug_*.cr
test_*.cr
boxcar
test_par_sort
final_test.cr
find_fail.cr
quick_test.cr
lib/ameba
lib/cml
